body{
    font-family: 'Trebuchet MS', sans-serif; 
    font-weight: 300;
    background-color: #5f5f5f;
    font-weight:500;
  font-size:32px;
  
  height:100vh;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

#header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
    padding-top:10vh;
  padding-left:8%;
  padding-right:8% ;
   
}

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  color:#999;
  text-shadow: 1px 1px;
}

div:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

div:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


p{
  font-size:30px;
  color:#999;
 margin-top: 1.5em;
}

#boxone {
  display: flex;
  flex-direction: column;
  font-size: 8vh;
  flex-wrap: wrap;
  margin-left: 2em;
}
  

img {
  box-shadow: 10px 10px;
  color: #7d6590ca;
}

.container{
  position: absolute;
}

#quote {
  text-align: center;
  padding-bottom: 3em;
  
}

#quote p {
  font-size: 30px;
}

#quote, q {
  font-size: 45px;
  color:#999;
  text-shadow: 1px 1px;
}

#two {
  display:flex;
  justify-content: space-between;
  padding-top:10vh;
  padding-left:8%;
  padding-right:8% ;
}

#two ul{
 padding-right: 15%; 
 margin-top: 0;
}

ul{
  background-color:#7d6590ca;
  margin-bottom: 1.5em;
  border-radius: 1vh;
 
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

.fig{
  padding-top: 3em;
}

#background {
  background-image: url("https://images3.alphacoders.com/830/thumb-1920-83067.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px); 
  height: 100%;
	width: 100%;
}
