body{
    font-family: 'Trebuchet MS', sans-serif; 
    font-weight: 300;
   
    background-color: #adadad;
}

#grid {
display: inline-grid;
  row-gap: 10px;
  grid-template-columns: auto auto auto;

}

h1 {
  text-align: center;
  font-size: 4em;
  background-color: #898989;
}
img {
  box-shadow: 10px 10px;
  color: #7d6590ca;
}

figcaption{
  padding-top: 0.3em;
  font-size: 20px;
}